<ion-content padding>
  <div class="login-form">
    <div style="text-align: center">
      <h2 style="color:darkslategrey">CareGiver</h2>
    </div>
    <ion-item class="login-input">
      <ion-label floating>
        <ion-icon ios="ios-person" md="md-person"></ion-icon> Email
      </ion-label>
      <ion-input [(ngModel)]="username" type="text" value=""></ion-input>
    </ion-item>
    <ion-item class="login-input">
      <ion-label floating>
        <ion-icon ios="ios-unlock" md="md-unlock"></ion-icon> Password
      </ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </div>
  <div>
    <ion-row>
      <ion-col>
        <button ion-button full  (click)="login(username,password)" class="login-button" round>LOGIN</button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
